body {
  margin: 0;
  background-color: beige;
}
* {
  box-sizing: border-box;
}
.pokemon__header {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 15px 0;
}
/* 
 .list__container {
  display: flex;
  flex-wrap: wrap;
} */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list__poke {
  margin-top: 10px;
  background-color: aqua;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  max-height: 218px;
}

.title__poke {
  text-align: center;
}

.img__poke {
  text-align: center;
}
.btn {
  margin: 40px;
  background-color: #707098;
  border: none;
  height: 30px;
  width: 100px;
  color: #fff;
  font-size: 15px;
  border-radius: 4px;
}
